<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @coisa.titulo %>
</p>

<p>
  <b>Descricao:</b>
  <%= @coisa.descricao %>
</p>

<p>
  <b>Categoria:</b>
  <%= @coisa.categoria %>
</p>


<%= link_to 'Edit', edit_coisa_path(@coisa) %> |
<%= link_to 'Back', coisas_path %>
